In [16]:
from web3 import Web3
import pandas as pd

from tqdm.notebook import trange

In [37]:
# Make sure the IPC socket is readable for the user executing the notebook

w3 = Web3(Web3.IPCProvider('./ipc/jsonrpc.ipc'))
w3.isConnected()

latest_block_number = w3.eth.blockNumber
latest_block_number

7535769

In [ ]:
w3.eth.getBlock(7535568, full_transactions=True).transactions[0]

In [38]:
start_block = 0
#end_block = 500
end_block = 7535769

transactions = []

for idx in trange(start_block, end_block):
    b = w3.eth.getBlock(idx, full_transactions=True)
    for tx in b.transactions:

        transactions.append([b.timestamp, tx.blockNumber, tx.to, tx['from'], tx.gas, tx.gasPrice, tx.nonce])

HBox(children=(FloatProgress(value=0.0, max=7535769.0), HTML(value='')))

In [40]:
df = pd.DataFrame(transactions, columns =['timestamp', 'blocknumber', 'to', 'from', 'gas', 'gasPrice', 'nonce']) 
df

,timestamp,blocknumber,to,from,gas,gasPrice,nonce
0,1547107485,33,None,0xaB59A1ea1aC9af9F77518b9B4AD80942adE35088,889637,0,0
1,1547107625,61,None,0xaB59A1ea1aC9af9F77518b9B4AD80942adE35088,1952182,0,1
2,1547107680,72,0x9850711951A84Ef8a2A31a7868d0dCa34B0661cA,0xaB59A1ea1aC9af9F77518b9B4AD80942adE35088,45333,0,2
3,1547111675,845,0x9849379b89aB24c18C8871d56d1Ad41E00d9eAae,0xaB59A1ea1aC9af9F77518b9B4AD80942adE35088,1000000,50000000000,3
4,1547111745,859,0x9849379b89aB24c18C8871d56d1Ad41E00d9eAae,0xaB59A1ea1aC9af9F77518b9B4AD80942adE35088,1000000,50000000000,4
...,...,...,...,...,...,...,...
9527281,1597489805,7535649,0xD216153c06E857cD7f72665E0aF1d7D82172F494,0x4eD1cA7563Ae29FE02d278a3fEE4876C9BA317d3,52216,1000000,13721
9527282,1597490350,7535715,0xFe19CA9dCaba073cECeE7dC2b36b7d45dbeEdFf0,0xaB59A1ea1aC9af9F77518b9B4AD80942adE35088,30000,1000000000,53651
9527283,1597490365,7535717,0xD216153c06E857cD7f72665E0aF1d7D82172F494,0x4eD1cA7563Ae29FE02d278a3fEE4876C9BA317d3,52276,1000000,13722
9527284,1597490410,7535721,0xD216153c06E857cD7f72665E0aF1d7D82172F494,0x4eD1cA7563Ae29FE02d278a3fEE4876C9BA317d3,52216,1000000,13723
9527285,1597490535,7535736,0xE5a9654C7e190701016EBf18206020bf16D8Beab,0xaB59A1ea1aC9af9F77518b9B4AD80942adE35088,1000000,50000000000,53652

In [44]:
compression_opts = dict(method='zip',
                        archive_name='bloxberg.csv')  
df.to_csv('bloxberg.zip', compression=compression_opts)

In [43]:
df.to_hdf('bloxberg.h5', key='df')